@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (max-width: 600px) {
  .nav {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
  }
  .img {
    height: 50px;
    width: 50px;
    margin-right: 390px;
    margin-left: 10px;
  }
  a {
    text-decoration: none;
    color: #dfe6e9;
    display: flex;
    align-items: flex-end;

    font-family: "Josefin Sans", sans-serif;
    font-size: 11px;
  }
  .nav-ul {
    display: flex;
    justify-content: center;
  }

  .nav-item {
    margin-right: 10px;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
}

.w3-container {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;
}

.w3-card-4 {
  margin-left: 4px;
  margin-top: 8px;
  font-size: 14px;
}

.w3-container {
  font-family: "Permanent Marker", cursive;
  justify-content: center;
}

footer {
  margin-top: 10px;
  background-color: #343a40;
  height: 25px;
  padding-top: 8px;
  display: flex;
  justify-content: center;
}
footer p {
  color: white;
  font-size: 9px;
  font-family: "Josefin Sans", sans-serif;
}

.card-cont {
  height: 45px;
  padding-top: 2px;
  display: flex;
  justify-content: center;
}

.header-1 {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin-left: 5px;
  margin-bottom: 10px;
  margin: 5px;
  height: 40%;
  width: 40%;
}
